<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
                <header th:fragment="header" class="header">
        <nav class="navbar navbar-expand-sm navbar-dark p-0">
            <div class="container">
                <a th:href="@{/}" class="navbar-brand">INICIO</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/servicio/listado}">SERVICIOS</a></li>
                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/oferta/listado}">OFERTAS</a></li>
                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/producto/listado}">PRODUCTOS</a></li>
                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/cita/listado}">AGENDAR CITA</a></li>
                      
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                            data-bs-toggle="dropdown"
                            href="#"
                            role="button"
                            aria-expanded="false">NOSOTROS</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" th:href="@{/Nosotros/preguntas}">Preguntas Frequentes</a></li>
                                <li><a class="dropdown-item" th:href="@{/Nosotros/ubicacion}">Ubicación</a></li>
                            </ul>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               data-bs-toggle="dropdown"
                               href="#"
                               role="button"
                               aria-expanded="false">CONSULTAS</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" th:href="@{/pruebas/listado}">Servicios</a></li>
                                <li><a class="dropdown-item" th:href="@{/pruebas/oferta}">Ofertas</a></li>
                                <li><a class="dropdown-item" th:href="@{/Nosotros/ubicacion}">Ubicación</a></li>
                            </ul>
                        </li>
                        
                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/usuario/listado}">INICIAR SESIÓN</a></li>
                    </ul>
                </div>
            </div>
            
        </nav>
        <section id="main-header" class="py-2 bg-cyan text-white">
            <div class="container">
                <div class="row row-cols-4">
                    <div class="col-md-4">
                        <h1><i class="fa-solid fa-frog"></i> ESTÉTICA EL COYOL</h1>
                    </div>
                </div>
            </div>
        </section>
    </header>

        <title>Estética El Coyol</title>
        <style>
            body {
                background-color: #f8f9fa;
            }

            .container {
                margin-top: 20px;
            }

            .list-group-item {
                margin-bottom: 20px;
                background-color: #ffffff;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                border: 1px solid rgba(0, 0, 0, 0.125);
                border-radius: 0.25rem;
                padding: 20px;
                text-align: center;
            }

            .card {
                background-color: #17a2b8;
                color: #ffffff;
            }
        </style>
    </head>
    <body>
        <!-- Encabezado -->
        <header class="card p-5">
           <h1 aria-label="Nuestros Productos" role="heading">Nuestros Productos</h1>
        </header>

        <!-- Sección principal para mostrar la información de la entidad producto -->
        <section th:fragment="listadoProductos" id="productos">
            <div class="container">
                <div class="row row-cols-4">
                    <div class="col-md-9">
                        <div th:if="${productos != null and not #lists.isEmpty(productos)}">
                            <div class="row">
                                <div th:each="producto, contador : ${productos}" class="col-md-4">
                                    <div class="list-group-item">
                                        <!-- Agregar la imagen arriba -->
                                        <img th:src="@{${producto.rutaImagen}}" alt="Imagen del Producto" class="img-top" height="200"/>

                                        <h5>[[${contador.count}]]. [[${producto.descripcion}]]</h5>
                                        <p>Detalle: [[${producto.detalle}]]</p>
                                        <p>Precio: ¢[[${producto.precio}]]</p>
                                        <p>Existencias: [[${producto.existencias}]]</p>
                                        <p>Activo: [[${producto.activo} ? 'Sí' : 'No']]</p>

                                        <div>
                                            <!-- Agrega aquí cualquier enlace o botón adicional que necesites -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center p-2" th:if="${productos == null or #lists.isEmpty(productos)}">
                            <span>Lista Vacía</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center mb-4">
                            <!-- Contenido de la tarjeta -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:fragment="footer" class="bg-info-subtle mt-5 p-2">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <div class="col text-center">
                        <p>Contacto: Teléfono (506) 2215-2020, Correo Electrónico: esteticaelcoyol@gmail.com</p>
                        <p>&copy; Estética El Coyol - Todos los derechos reservados</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
