<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Estética El Coyol</title>
    </head>
    <body>
        <!-- Sección principal para mostrar la información de la entidad servicio -->
        <section th:fragment="listadoServicios" id="servicios" class="container py-4">
            <div class="row row-cols-4">
                
                        <div th:each="servicio, contador : ${servicios}" class="card p-5">
                            <div class="list-group-item">
                                <!-- Agregar la imagen arriba -->
                                <figure>
                                <img th:src="@{${servicio.rutaImagen}}" alt="..." class="card-img-top" height="200"/>
                                </figure>
                                <h5>[[${contador.count}]]. [[${servicio.nombre}]]</h5>
                                <p>Descripción: [[${servicio.descripcion}]]</p>
                                <p>Precio: ¢[[${servicio.precio}]]</p>
                                <p>Estado: [[${servicio.activo} ? 'Activa' : 'Inactiva']]</p>
                                
                                <div>
                                    <a th:href="@{/cita/listado}" class="btn btn-primary">Agendar Cita</a>
                                </div>
                            </div>
                        </div>
               
                </div>
            </div>
            <div class="text-center p-2" th:if="${servicios == null or servicios.empty}">
                <span>[[#{Lista Vacia}]]</span>
            </div>
        </section>
    </body>
</html>
